<body class="bg-light">
    <div class="container">
        <img class="ax-center my-10 w-24" src="https://htmldemo.net/juan/p2/img/juan/logo.png" />
        <div class="card p-6 p-lg-10 space-y-4">
            <h1 class="h3 fw-700">
                {{title}}
            </h1>
            <p>
                {{content}}
            </p>
            <a class="btn btn-primary p-3 fw-700" href="http://localhost:5198">Visit Website</a>
        </div>
        <img class="ax-center mt-10 w-40" src="https://htmldemo.net/juan/p2/img/juan/logo.png" />
        <div class="text-muted text-center my-6">
            Sent with <3 Juan. <br>
      Juan.<br>
      Gnarly State, 01234 USA <br>
        </div>
    </div>
</body>