@model Slider
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" placeholder="Enter slider title">
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="SubTitle"></label>
        <input asp-for="SubTitle" class="form-control" placeholder="Enter slider subtitle">
        <span class="text-danger" asp-validation-for="SubTitle"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" placeholder="Enter slider decription">
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Photo"></label>
        <input asp-for="Photo" class="form-control" placeholder="Enter slider photo">
        <span class="text-danger" asp-validation-for="Photo"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>