@model IEnumerable<Announcement>
<div class="container-fluid px-4">
    <h1 class="mt-4">Announcements</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-area="admin" asp-controller="home" asp-action="index">Dashboard</a></li>
        <li class="breadcrumb-item active">Tables</li>
    </ol>
    <a asp-controller="announcement" asp-action="create" class="btn btn-outline-primary mb-3">Make an announcement</a>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Announcements Table
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Content</th>
                        <th>Author</th>
                        <th>Created At</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Announcement item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@Html.Raw(item.Content)</td>
                            <td>@item.User.UserName</td>
                            <td>@item.CreatedAt.ToShortDateString()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


